.Footer {
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    background-color:whitesmoke;
}
.important {
    margin-left: 30px;
}
.portals {
    margin-left: 30px;
}
.college {
    margin-left: 30px;
}
.contact {
    margin-left: 30px;
}
.importheading {
    color:rgb(12, 5, 5);
    font-size: 25px;
}
.portalheading {
    color: rgb(12, 5, 5);
    font-size: 25px;
}
.collegeheading {
    color: rgb(12, 5, 5);
    font-size: 25px;
}
.contactheading {
    color: rgb(12, 5, 5);
    font-size: 25px;
}
.links1 {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
.links2 {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
.links3 {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
.link {
    text-decoration: none;
    color:black;
}
.link1 {
    text-decoration: none;
    color:black;
}
.link2 {
    text-decoration: none;
    color: black;
}
.para {
    color: black;
    font-size: 20px;
}
.contacts {
    text-decoration: none;
    color: black;
}
.icons {
    display: flex;
    color: black;
    align-items: center;
    margin-top: 30px;
    font-size: 25px;
    
}
.icon1 {
    margin-right: 5px;
    color:blue;
}
.icon2 {
    margin-right: 5px;
    color: rgb(114, 31, 198);
}
.icon3 {
    margin-right: 5px;
    color: rgb(243, 99, 219);
}
.icon4 {
    margin-right: 5px;
    color: rgb(218, 5, 5);
}
.icon5 {
    color: rgb(107, 141, 220);
}
.About {
    margin-top: 20px;
}
.privacy {
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.terms {
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.refund {
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.copyright {
    position: absolute;
    bottom: 500px;
    left: 350px;
    font-size: 12px;
}
img {
    height: 120px;
    position: absolute;
    bottom: 500px;
    right: 1250px;
}